.btn {
    cursor: pointer;
    display: block;

    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    
    color: $font-color;
    background-color: $elevate-1-color;

    &__remove {
        background-color: #D84141;
    }
}